<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mi primer Login</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">

</head>
<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
				<div class="col-12 user-img">
				<h1>    </h1>
				
				<h6 style="background-color:powderblue;">Usuario logueado</h6>
				</div>
				<body>
        		<h4 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h4>
        		<h1>    </h1>
        		<h1>    </h1>
        		<h1>    </h1>
        		<h1>    </h1>
        		<form th:action="@{/logout}" method="post">
            	<input type="submit" value="Cerrar Sesion"/>
        </form>
        
    </body>
            </div>
        </div>
    </div>
</body>
</html>